<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <settings>
        <!--标准输出（standard output）日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启驼峰命名映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>


    <!--数据库环境配置-->
    <environments default="dev">
        <!--单数据库 环境,一个environment对应的SqlSessionFactory-->
        <environment id="dev">
            <!--事务管理机制：JDBC|MANAGED无事务-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据库连接池：UNPOOLED|POOLED|JNDI-->
            <!--POOLED 有取出，有放回-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/sxschool?useSSL=true&amp;userUnicode=true&amp;characterEncoding=utf8&amp;characterSetResults=utf8&amp;autoReconnect=true&amp;failOverReadOnly=false
                "/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射文件:统一写sql语句-->
    <mappers>
        <!--把映射文件包含进来-->
        <mapper resource="com/snowmen/sxschool/dao/UserMapper.xml"></mapper>
    </mappers>
</configuration>
