<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home One || Tolins || Tolins Form HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <!-- Css-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/font_2323144_mqankmk1xfi/iconfont.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">

    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/vegas.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="assets/css/tolips.css">
    <!-- Template styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">


</head>

<body>

<div class="preloader">
    <img src="assets/images/loader.png" class="preloader__image" alt="">
</div><!-- /.preloader -->

<div class="page-wrapper">

    <div class="site-header__header-one-wrap clearfix">

        <div class="header_top_one">
            <div class="header_top_one_content_box_top clearfix">
                <div class="header_top_one_content_box_top_left float-left">
                    <p>您好，欢迎访问宜昌三峡职教集团！</p>
                    <p class="swhome">设为首页</p>
                    <p class="jrcollect">加入收藏</p>
                </div>
                <div class="header_top_one_content_box_top_right float-right">
                    <ul class="list-unstyled header_top_one_content_box_top_right_list">
                        <li><a href="#"><img src="assets/images/resources/denglu.jpg">登录<span>|</span></a></li>
                        <li><a href="#"><img src="assets/images/resources/zhuce.jpg">注册</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="header_top_one_inner clearfix">
                    <div class="header_top_one_logo_box float-left">
                        <div class="header_top_one_logo">
                            <a href="index.html"><img src="assets/images/resources/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="header_top_one_content_box float-right">

                        <div class="header_top_one_content_box_bottom">
                            <div class="header_top_one_content_box_bottom_inner clearfix">
                                <div class="header_top_one_content_box_bottom_contact_info">
                                    <form action="#" class="search-popup__form">
                                        <input type="text" name="search" placeholder="请输入关键词....">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-nav__header-one">
            <div class="container">
                <nav class="header-navigation one stricky">
                    <div class="container-box clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="main-nav__left">
                            <div class="main-nav__main-navigation one clearfix">
                                <ul class=" main-nav__navigation-box">
                                    <li class="dropdown ">
                                        <a href="/">网站首页</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/about">集团概况</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/department">成员单位</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/policy">政策文件</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/scc">科研项目</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/scc">校企合作</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">党建视窗</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">招生就业</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">社会服务</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">企业需求</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">学生风采</a>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <!-- Banner Section One Start -->
    <section class="banner-one">
        <div class="banner-bg-slide"
             data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/main-slider/slider-1-1.png" }, { "src": "assets/images/main-slider/slider-1-2.png" } ], "transition": "fade", "timer": false, "align": "top", "animation": [ "kenburnsUp", "kenburnsDown", "kenburnsLeft", "kenburnsRight" ] }'>
        </div><!-- /.banner-bg-slide -->
    </section>
    <!-- Banner Section One End -->

    <!--Explore One Start-->
    <div class="container">
        <div class="secMenu">
            <div class="wrap">
                <div class="position">
                    <a href="/" class="home">&nbsp;</a>
                    <a href="/about/jtjj">集团概况</a>
                    <a>集团简介</a>
                </div>
                <div class="secNav">
                    <a href="/about/jtjj" id="noeMenu">
                        集团简介</a>
                    <a href="/about/zzjg">
                        组织架构</a>
                    <a href="/about/zzry">
                        资质荣誉</a>
                    <a href="/about/video">
                        视频宣传片</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pagetitle wrap">
            <p class="p1">Group</p>
            <p class="p2">
                <span class="sp1">Intrduction</span>
                <span class="sp2">集团简介</span>
            </p>
        </div>
    </div>
    <!--Explore One End-->

    <!--Why Choose One Start-->
    <div class="iCon">
        <div class="container">
            <div class="wrap">
                <div class="gsjj-div cf">
                    <div class="boxL">
                        <div class="d1">
                            <div class="one">
                                <p class="p1">始建于</p>
                                <p class="p2 numqiye">2013</p>
                                <p class="p3"><span>&nbsp;</span>年</p></div>
                            <div class="two">
                                <p class="p1">员工</p>
                                <p class="p2 numqiye2">2000</p>
                                <p class="p3"><span>+</span>名</p></div>
                            <div class="three">
                                <p class="p1">合作校企</p>
                                <p class="p2 numqiye3">230</p>
                                <p class="p3"><span>+</span>家</p></div>
                            <div class="four">
                                <p class="p1">毕业生</p>
                                <p class="p2 numqiye4">200</p>
                                <p class="p3"><span>+</span>亿</p></div>
                        </div>
                        <div class="d2">
                            <p class="p1">宜昌三峡职教集团</p>
                            <p class="p2">Three Gorges Vocational Education Group Of Yichang(TGVEG)</p>
                            <p class="p3">
                                　　宜昌三峡职教集团由湖北宜昌三峡职业技术学院、三峡旅游职业技术学院、湖北峡州集团、湖北兴发集团发起组建，于2013年12月由宜昌市人民政府特许成立，是以政府主导，高职学校为龙头，中职学校为基础，支柱产业为依托，校企合作育人为特色，资源共享、优势互补、互惠互利、共同发展的区域性、综合性职教办学联合体。</p>
                            <p class="p3">
                                　　集团现有政府职能部门、行业协会、企事业等成员单位共112家，涉及文化旅游、精细化工、装备制造、商贸物流、新能源材料、生物医药、现代农业、建筑等产业。</p>
                            <p class="p4">集团愿景:平等自愿、共享共管、合作共赢。</p>
                            <p class="p3">宜昌三峡职教集团在宜昌市职业教育发展指导委员会（宜府办文〔2011〕40号）领导下开展工作，实行理事会负责制，宜昌市教育局为业务主管部门。理事会设常务理事会、秘书处和产学合作委员会。职业教育发展指导委员会，由宜昌市政府领导和行业主管部门人员担任；产学合作委员会由区域内相关政府部门、职业学校、行业和企业单位组成。</p>
                            <p class="p3">
                                　　职教集团旨在搭建产学合作、校企合作、校校合作的平台，引导学校、企业、行业协会之间的全方位合作，实现集团内部成员之间的资源共享，培养适应宜昌区域经济发展需求的技术技能型人才。通过院校与企业之间的良性互动，提升职业教育服务产业能力，促进宜昌职业教育特色化、品牌化发展，推动宜昌经济社会科学发展。 集团以章程为总的指导原则，以理事会形式进行议事和决策，通过选举确定理事长、常务理事、理事和秘书长人选，秘书处设在湖北三峡职业技术学院。</p>
                            <p class="p4">常务理事会职责：</p>
                            <p class="p3">
                                　　1．执行宜昌三峡职教集团理事会决议；</p>
                            <p class="p3">
                                　　2. 实施宜昌三峡职教集团年度工作计划；</p>
                            <p class="p3">
                                　　3. 根据经济社会发展需要，向理事会提交宜昌职业教育发展议案； </p>
                            <p class="p3">
                                　　4. 审议和接受新的成员单位； 5. 决定理事会召开的时间、地点和审议的主要内容。</p>
                            <p class="p4">秘书处职责：</p>
                            <p class="p3">
                                　　1. 完成理事长、副理事长交办的日常工作；</p>
                            <p class="p3">
                                　　2. 负责专业建设、校企合作等各项工作的协调安排；</p>
                            <p class="p3">
                                　　3. 收集、发布宜昌职业教育人才培养信息和人才供求信息； </p>
                            <p class="p3">
                                　　4. 负责宜昌三峡职教集团的宣传和有关文档管理工作；</p>
                            <p class="p3">
                                　　5. 负责筹备理事会和常务理事会议，起草会议文件、撰写工作报告；</p>
                            <p class="p3">
                                　　6. 负责宜昌三峡职教集团的联络工作； </p>
                            <p class="p3">
                                　　7. 负责宜昌三峡职教集团的会费的收取和财务管理工作。</p>

                            <p class="p3">　　产学合作委员会职责： 由市直部门、学校、行业、企业领导，行业专家、企业技术人员、骨干教师组成，对集团内各成员单位提供指导、咨询和建议。指导各专业分会进行专业建设、课程建设、实训建设、师资建设、中高职衔接、顶岗实习、项目开发、员工培训等各项合作工作。</p>
                            <p class="p3">
                                　　1. 定期开展成员活动，依据企业需求，组织企业骨干人员参与并开展专业建设、课程建设、师资队伍建设。</p>
                            <p class="p3">
                                　　2. 定期开展校校各专业间的交流合作，教学资源共建共管、互利共享，优势互补共同建设宜昌特色专业和品牌专业。</p>
                            <p class="p3">
                                　　3. 负责教学活动协调。根据企业提出的人才培养要求，与企业兼职教师共同完成人才培养。</p>
                    </div>

                </div>
                    <div class="boxR pc-div">
                        <img alt="" src="assets/images/resources/pic33.jpg">
                        <img alt="" src="assets/images/resources/pic34.jpg">
                        <img alt="" src="assets/images/resources/pic35.jpg">
                        <img alt="" src="assets/images/resources/pic36.jpg">
                    </div>
            </div>
        </div>
    </div>
    <!--Why Choose One End-->

    <!--Latest Properties Start-->
    <!--Latest Properties End-->

    <!--Providing One Start-->

    <!--Providing One End-->

    <!--Brand One Start-->
    <div class="brand_one">
        <div class="container">
            <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                </div>
            </div>
        </div>
    </div>
    <!--Brand One End-->

    <!--Site Footer One Start-->
    <footer class="site_footer" style="background-image: url(assets/images/resources/site_footer_top_bg.jpg)">
        <div class="container">
            <div class="site_footer_one_top">
                <div class="row">
                    <div class="ft-l float-left">
                        <div class="weixin float-left">
                            <img src="assets/images/resources/wx.jpg">
                            官方微信
                        </div>
                        <div class="qq float-left">
                            <img src="assets/images/resources/wb.jpg">
                            官方微博
                        </div>
                    </div>

                    <div class="ft-r float-right">
                        <dl class="contact">
                            <dd>地址：湖北省宜昌市体育场路31号</dd>
                            <dd>邮编：443000</dd>
                            <dd>电话：07178853366</dd>
                            <dd>鄂ICP备15008992号</dd>
                        </dl>
                        <dl class="contact footer_about">
                            <dd>Copyright ©2002-2020 All Rights Reserved 宜昌三峡职教集团 | 版权所有</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Site Footer One End-->

    <!--Site Footer Bottom Start-->
    <!--Site Footer Bottom End-->


</div><!-- /.page-wrapper -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
    <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
        <div class="logo-box">
            <a href="index.html" aria-label="logo image">
                <img src="assets/images/resources/logo-2.png" alt=""/>
            </a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container clearfix"></div>
        <!-- /.mobile-nav__container -->
        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-message"></i>
                <a href="mailto:needhelp@polimark.com">needhelp@tolins.com</a>
            </li>
            <li>
                <i class="icon-phone-call"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
</div>


<div class="search-popup">
    <div class="search-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="search-popup__inner">

    </div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/typed-2.0.11.js"></script>
<script src="assets/js/vegas.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/jarallax.js"></script>

<!-- template scripts -->
<script src="assets/js/theme.js"></script>

<script src="assets/js/public.js"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.SuperSlide.2.1.1.js"></script>

<script type="text/javascript">

    jQuery(".information-main-fl").slide({
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,
        trigger: "click",
        mouseOverStop: false
    });//轮播

</script>

</body>

</html>