<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成员单位</title>
</head>
<body>
<h1>教学单位</h1>
<h4>医学院</h4>
<h4>电子信息学院</h4>
<h4>旅游与教育学院</h4>
<h4>经济管理学院</h4>
<h4>机电学院</h4>
<h4>建筑工程学院</h4>
<h4>农学院</h4>
<h4>康养与护理学院</h4>
<h4>基础课部</h4>
<h4>马克思主义学院</h4>
<h4>中专部</h4>
<h4>继续教育学院</h4>
<h4>培训学院(创新创业学院)</h4>


<h1>党政群团机构</h1>
<h4>学校办公室</h4>
<h4>党委组织部(统战部)</h4>
<h4>党委宣传部门</h4>
<h4>纪委</h4>
<h4>监督专员办公室</h4>
<h4>教务处</h4>
<h4>人事处</h4>
<h4>规划财务处</h4>
<h4>科研处</h4>
<h4>学生工作处团委</h4>
<h4>保卫处</h4>
<h4>招生就业处</h4>
<h4>质量管理处</h4>
<h4>后勤保卫处</h4>
<h4>工会</h4>

<h1>直属单位</h1>
<h4>附属医院</h4>
<h4>图书馆(综合档案馆)</h4>
<h4>宜通驾校</h4>
<h4>第一附属医院</h4>
<h4>第二附属医院</h4>
</body>
</html>