<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home One || Tolins || Tolins Form HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">



    <!-- Css-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/font_2323144_mqankmk1xfi/iconfont.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">

    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/vegas.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="assets/css/tolips.css">
    <!-- Template styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">


</head>

<body>

    <div class="preloader">
        <img src="assets/images/loader.png" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">

        <div class="site-header__header-one-wrap clearfix">

            <div class="header_top_one">
                <div class="header_top_one_content_box_top clearfix">
                    <div class="header_top_one_content_box_top_left float-left">
                        <p>您好，欢迎访问宜昌三峡职教集团！</p>
                        <p class="swhome">设为首页</p>
                        <p class="jrcollect">加入收藏</p>
                    </div>
                    <div class="header_top_one_content_box_top_right float-right">
                        <ul class="list-unstyled header_top_one_content_box_top_right_list">
                            <li><a href="#"><img src="assets/images/resources/denglu.jpg">登录<span>|</span></a></li>
                            <li><a href="#"><img src="assets/images/resources/zhuce.jpg">注册</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="header_top_one_inner clearfix">
                        <div class="header_top_one_logo_box float-left">
                            <div class="header_top_one_logo">
                                <a href="index.html"><img src="assets/images/resources/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="header_top_one_content_box float-right">

                            <div class="header_top_one_content_box_bottom">
                                <div class="header_top_one_content_box_bottom_inner clearfix">
                                    <div class="header_top_one_content_box_bottom_contact_info">
                                        <form action="#" class="search-popup__form">
                                            <input type="text" name="search" placeholder="请输入关键词....">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <header class="main-nav__header-one">
                <div class="container">
                    <nav class="header-navigation one stricky">
                        <div class="container-box clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left">
                                <div class="main-nav__main-navigation one clearfix">
                                    <ul class=" main-nav__navigation-box">
                                        <li class="dropdown ">
                                            <a href="/">网站首页</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/about">集团概况</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">成员单位</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">政策文件</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">科研项目</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">校企合作</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">党建视窗</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">招生就业</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">社会服务</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">企业需求</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">学生风采</a>
                                        </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>

        <!-- Banner Section One Start -->
        <section class="banner-one">
            <div class="banner-bg-slide"
                data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/main-slider/slider-1-1.png" }, { "src": "assets/images/main-slider/slider-1-2.png" } ], "transition": "fade", "timer": false, "align": "top", "animation": [ "kenburnsUp", "kenburnsDown", "kenburnsLeft", "kenburnsRight" ] }'>
            </div><!-- /.banner-bg-slide -->
        </section>
        <!-- Banner Section One End -->

        <!--Explore One Start-->
        <section class="explore_one">
            <div class="container">
                <div class="block-title text-center">
                    <h3>集团概况</h3>
                    <h4>GROUP PROFILE</h4>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="about-area pt-100 pb-70">

                                <div class="row align-items-center">
                                    <div class="col-lg-5">
                                        <div class="about-img">
                                            <img src="assets/images/resources/about-img.jpg" alt="Images">
                                        </div>
                                    </div>

                                    <div class="col-lg-7">
                                        <div class="about-content">
                                            <div class="section-title">
                                                <p>
                                                    宜昌三峡职教集团是宜昌市人民政府领导，以高职学校为龙头，中职学校为基础，支柱产业为依托，校企合作为重点，以提升产业的核心竞争力为目标，创新校企合作体制机制、突出校企合作育人特色、资源共享、优势互补、互惠互利、共同发展的办学联合体。
                                                </p>
                                                <p>
                                                    宜昌三峡职教集团坚持以科学发展观为统领，旨在搭建产学合作、校企合作、校校合作的平台，引导学校、企业、行业协会之间的全方位合作，实现集团内部成员之间的资源共享，培养适应三峡区域经济发展需求的技术技能型人才。通过院校与企业之间的良性互动，提升职业教育服务产业能力，促进宜昌职业教育特色化、品牌化发展，推动宜昌经济社会科学发展。
                                                </p>
                                                <a href="#" class="default-btn btn-bg-one border-radius-5">查看更多+</a>
                                            </div>
                                            <div class="providing_one_four_boxes clearfix">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div class="providing_one_four_boxes_iocn">
                                                            <span class="iconfont" style="font-size: 32px">&#xe616;</span>
                                                            <p>现任领导</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="providing_one_four_boxes_iocn">
                                                            <span class="iconfont">&#xe64e;</span>
                                                            <p>组织机构</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="providing_one_four_boxes_iocn">
                                                            <span class="iconfont">&#xe62e;</span>
                                                            <p>集团章程</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="providing_one_four_boxes_iocn">
                                                            <span class="iconfont">&#xe66e;</span>
                                                            <p>集团荣誉</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Explore One End-->

        <!--Why Choose One Start-->
        <section class="why_choose_one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url(assets/images/backgrounds/why_choose_one_bg.jpg)">
            <div class="container">
                <div class="why_choose_one_title">
                    <h3>集团动态</h3>
                    <h4>GROUP DYNAMICS</h4>
                </div>
                <div class="row" style="margin-top: 33px">
                    <div class="col-xl-12">
                        <div class="about-area pt-100 pb-70">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <div class="pap_top">
                                        <span class="active">集团新闻</span><span>职教动态</span><span>通知公告</span>
                                    </div>
                                    <div class="paper">
                                        <ul class="clearfloat active">
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">宜昌三峡职教集团入围全国第一批示范性职业教育集团</a>
                                                </div>
                                                <div class="time_box">
                                                    9月9日教育部官网公示了全国第一批150所示范性职业教育集团（联盟）培养单位名单，宜昌三峡职教集团赫然在列。这无疑是在现代学徒制区域试点通过教育部验收之后、36个...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">深化产教融合 推动资源共享 塑造职教品牌（七）</a>
                                                </div>
                                                <div class="time_box">
                                                    “时机好！意义好！合作共赢发展好！”西陵区东山幼儿园负责人在学前教育类专业校企合作恳谈会上激动的说道，“通过观摩今天全市中职学生职业技能（才艺）大赛学前教育类项目的展示...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">学习贯彻党的十九届五中全会精神｜市委宣讲团在三峡职院举行党的十九届</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <div class="ckmore">查看更多>></div>
                                        </ul>
                                        <ul class="clearfloat">
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">科教宜昌报道我校基础课部教师获得全国首届外语课程思政大赛二等奖</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">三峡商报专版报道我校完成教育部13个“1+x”证书考评</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">宜昌新闻采访报道我校师生学习十九届五中全会精神心得体会</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <div class="ckmore">查看更多>></div>
                                        </ul>
                                        <ul class="clearfloat">
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">湖北三峡职业技术学院《高等职业教育质量年度报告（2021）》</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">湖北三峡职业技术学院党委书记2020年度抓基层党组织建设履责“口袋书”</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_time float-left">
                                                    <p class="day">2020</p>
                                                    <p class="month">01-12</p>
                                                </div>
                                                <div class="pap_tit">
                                                    <a href="">关于组织申报2020年度学校科研项目的通知</a>
                                                </div>
                                                <div class="time_box">
                                                    2月17日，学习贯彻党的十九届五中全会精神市委宣讲团报告会在我校行政楼五楼会议室举行，市委宣讲团成员、三峡职院党委书记郑泽金为我校教师及学生代表近300人宣讲党的十九...
                                                </div>
                                            </li>
                                            <div class="ckmore">查看更多>></div>
                                        </ul>
                                    </div>


                                </div>
                                <div class="col-lg-5">
                                    <div class="information-main-fl">
                                        <div class="bd">
                                            <ul>
                                                <li>
                                                    <img src="assets/images/resources/banner.jpg" alt="">
                                                    <div class="information-main-back"></div>
                                                    <p class="information-main-text">
                                                        校党委理论学习中心组举行2021年第一次集中学习
                                                    </p>
                                                </li>
                                                <li>
                                                    <img src="assets/images/resources/banner1.jpg" alt="">
                                                    <div class="information-main-back"></div>
                                                    <p class="information-main-text">
                                                        学校开展新提重用干部警示教育暨廉政谈话
                                                    </p>
                                                </li>
                                                <li>
                                                    <img src="assets/images/resources/banner2.jpg" alt="">
                                                    <div class="information-main-back"></div>
                                                    <p class="information-main-text">
                                                        学校召开2020年度老干部情况通报会暨党外代表人士座谈会
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="javascript:void(0)" class="prev"></a>
                                        <a href="javascript:void(0)" class="next"></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--Why Choose One End-->

        <!--Latest Properties Start-->
        <section class="latest_properties">
            <div class="container">
                <div class="why_choose_one_title">
                    <h3>企业需求</h3>
                    <h4>ENTERPRISE REQUIRMENT</h4>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                <h3>
                                    <a href="blog-details.html">建筑设计师</a>
                                </h3>
                                <a href="blog-details.html" class="read-btn">
                                    查看详情
                                </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                    <h3>
                                        <a href="blog-details.html">建筑设计师</a>
                                    </h3>
                                    <a href="blog-details.html" class="read-btn">
                                        查看详情
                                    </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                    <h3>
                                        <a href="blog-details.html">建筑设计师</a>
                                    </h3>
                                    <a href="blog-details.html" class="read-btn">
                                        查看详情
                                    </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                    <h3>
                                        <a href="blog-details.html">建筑设计师</a>
                                    </h3>
                                    <a href="blog-details.html" class="read-btn">
                                        查看详情
                                    </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                    <h3>
                                        <a href="blog-details.html">建筑设计师</a>
                                    </h3>
                                    <a href="blog-details.html" class="read-btn">
                                        查看详情
                                    </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="blog-item">
                            <div class="content">
                                <div class="row">
                                    <h3>
                                        <a href="blog-details.html">建筑设计师</a>
                                    </h3>
                                    <a href="blog-details.html" class="read-btn">
                                        查看详情
                                    </a>
                                </div>
                                <ul>
                                    <li><i class='bx bx-user'></i>本科</li>
                                    <li><i class='bx bx-message-alt-dots'></i>面议</li>
                                    <li><i class='bx bx-message-alt-dots'></i>长期有效</li>
                                </ul>
                                <p>宜昌英杰样式坊建筑设计咨询有限公司</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ckmore" style="border-color: #017953; color: #017953">查看更多>></div>
                <div class="swiper-pagination" id="latest_properties_pagination"></div>
            </div>
        </section>
        <!--Latest Properties End-->

        <!--Providing One Start-->
        <section class="providing_one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style=" background: #017953">
            <div class="container">
                <div class="providing_one_left_title">
                    <h3>学生风采</h3>
                    <h4>STUDENTS</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <span><img src="assets/images/resources/STUDENTS.jpg" /></span>
                                <span class="title"><b>易鸣</b>  2016届宠物医学专业</span>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <h3><a href="news-details.html">在校期间曾担任过班长，管理班级事务，积极参加社团活动，毕业后就职于深圳瑞派福华动物医院，牢记班主任赵青松老师教诲“认真务实，脚踏实地”的教诲，从初级助理一点点做起，勤奋好学...</a></h3>
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
                <div class="ckmore" >查看更多>></div>
            </div>
        </section>
        <!--Providing One End-->

        <!--Brand One Start-->
        <div class="brand_one">
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                        </div><!-- /.swiper-slide -->
                    </div>
                </div>
            </div>
        </div>
        <!--Brand One End-->

        <!--Site Footer One Start-->
        <footer class="site_footer" style="background-image: url(assets/images/resources/site_footer_top_bg.jpg)">
            <div class="container">
                <div class="site_footer_one_top">
                    <div class="row">
                        <div class="ft-l float-left">
                            <div class="weixin float-left">
                                <img src="assets/images/resources/wx.jpg">
                                官方微信
                            </div>
                            <div class="qq float-left">
                                <img src="assets/images/resources/wb.jpg">
                                官方微博
                            </div>
                        </div>

                        <div class="ft-r float-right">
                                <dl class="contact">
                                    <dd>地址：湖北省宜昌市体育场路31号</dd>
                                    <dd>邮编：443000</dd>
                                    <dd>电话：07178853366</dd>
                                    <dd>鄂ICP备15008992号</dd>
                                </dl>
                                <dl class="contact footer_about">
                                    <dd>Copyright ©2002-2020  All Rights Reserved 宜昌三峡职教集团 | 版权所有</dd>
                                </dl>
                            </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer One End-->

        <!--Site Footer Bottom Start-->
        <!--Site Footer Bottom End-->




    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="assets/images/resources/logo-2.png" alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="icon-message"></i>
                    <a href="mailto:needhelp@polimark.com">needhelp@tolins.com</a>
                </li>
                <li>
                    <i class="icon-phone-call"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>



    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">

        </div>
    </div>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/typed-2.0.11.js"></script>
    <script src="assets/js/vegas.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/jarallax.js"></script>

    <!-- template scripts -->
    <script src="assets/js/theme.js"></script>

    <script src="assets/js/public.js"></script>

    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/jquery.SuperSlide.2.1.1.js"></script>

    <script type="text/javascript">

        jQuery(".information-main-fl").slide({
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPlay: true,
            trigger: "click",
            mouseOverStop: false
        });//轮播

    </script>

</body>

</html>