<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Builders Page</title>
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">

    <style>
        div {
            width: 200px;
            height: 200px;
            background-color: pink;
        }
    </style>
</head>
<body>
<div>

</div>

<script>$('div').hide();</script>
</body>
</html>