<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home One || Tolins || Tolins Form HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <!-- Css-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/font_2323144_mqankmk1xfi/iconfont.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">

    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/vegas.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="assets/css/tolips.css">
    <!-- Template styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">


</head>

<body>

<div class="preloader">
    <img src="assets/images/loader.png" class="preloader__image" alt="">
</div><!-- /.preloader -->

<div class="page-wrapper">

    <div class="site-header__header-one-wrap clearfix">

        <div class="header_top_one">
            <div class="header_top_one_content_box_top clearfix">
                <div class="header_top_one_content_box_top_left float-left">
                    <p>您好，欢迎访问宜昌三峡职教集团！</p>
                    <p class="swhome">设为首页</p>
                    <p class="jrcollect">加入收藏</p>
                </div>
                <div class="header_top_one_content_box_top_right float-right">
                    <ul class="list-unstyled header_top_one_content_box_top_right_list">
                        <li><a href="#"><img src="assets/images/resources/denglu.jpg">登录<span>|</span></a></li>
                        <li><a href="#"><img src="assets/images/resources/zhuce.jpg">注册</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="header_top_one_inner clearfix">
                    <div class="header_top_one_logo_box float-left">
                        <div class="header_top_one_logo">
                            <a href="index.html"><img src="assets/images/resources/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="header_top_one_content_box float-right">

                        <div class="header_top_one_content_box_bottom">
                            <div class="header_top_one_content_box_bottom_inner clearfix">
                                <div class="header_top_one_content_box_bottom_contact_info">
                                    <form action="#" class="search-popup__form">
                                        <input type="text" name="search" placeholder="请输入关键词....">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-nav__header-one">
            <div class="container">
                <nav class="header-navigation one stricky">
                    <div class="container-box clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="main-nav__left">
                            <div class="main-nav__main-navigation one clearfix">
                                <ul class=" main-nav__navigation-box">
                                    <li class="dropdown ">
                                        <a href="index.html">网站首页</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="about.html">集团概况</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">成员单位</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">政策文件</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">科研项目</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">校企合作</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">党建视窗</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">招生就业</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">社会服务</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">企业需求</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">学生风采</a>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <!-- Banner Section One Start -->
    <section class="banner-one">
        <div class="banner-bg-slide"
             data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/main-slider/slider-1-1.png" }, { "src": "assets/images/main-slider/slider-1-2.png" } ], "transition": "fade", "timer": false, "align": "top", "animation": [ "kenburnsUp", "kenburnsDown", "kenburnsLeft", "kenburnsRight" ] }'>
        </div><!-- /.banner-bg-slide -->
    </section>
    <!-- Banner Section One End -->

    <!--Explore One Start-->
    <div class="container">
        <div class="secMenu">
            <div class="wrap">
                <div class="position">
                    <a href="/" class="home">&nbsp;</a>
                    <a href="/about/jtjj">新闻中心</a>
                    <a>集团新闻</a>
                </div>
                <div class="secNav">
                    <a href="/about/jtjj" id="noeMenu">
                        集团新闻</a>
                    <a href="/about/zzjg">
                        职教动态</a>
                    <a href="/about/zzry">
                        通知公告</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pagetitle wrap">
            <p class="p1">GROUP</p>
            <p class="p2">
                <span class="sp1">NEWS</span>
                <span class="sp2">集团新闻</span>
            </p>
        </div>
    </div>
    <!--Explore One End-->

    <!--Why Choose One Start-->
    <div class="iCon">
        <div class="container">
                <div class="news-div">
                    <div class="box1">
                        <div class="swiper-container newsPic swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" style="width: 353.333px; margin-right: 70px;"><a href="93.html">
                                    <div class="pic"><img src="assets/images/resources/202101121657038201.jpg"></div>
                                    <div class="txt">
                                        <p class="p1">校党委理论学习中心组举行2021年第一次集中学习</p>
                                        <p class="p2">2020-12-31</p>
                                        <p class="p3">1月7日-8日，校党委理论学习中心组举行了2021年第一次集中（扩大）学习...</p>
                                    </div>
                                </a></div>
                                <div class="swiper-slide swiper-slide-next" style="width: 353.333px; margin-right: 70px;"><a href="92.html">
                                    <div class="pic"><img src="assets/images/resources/202101121648298419.jpg"></div>
                                    <div class="txt">
                                        <p class="p1">学校开展新提重用干部警示教育暨廉政谈话</p>
                                        <p class="p2">2020-12-18</p>
                                        <p class="p3">1月11日下午，学校对49名2019-2020年新提、重用干部进行警示教育暨廉政谈话...</p>
                                    </div>
                                </a></div>
                                <div class="swiper-slide" style="width: 353.333px; margin-right: 70px;"><a href="90.html">
                                    <div class="pic"><img src="assets/images/resources/202101111646133557.jpg"></div>
                                    <div class="txt">
                                        <p class="p1">学校召开2020年度老干部情况通报会暨党外代表人士座谈会</p>
                                        <p class="p2">2020-12-01</p>
                                        <p class="p3">2021年1月8日上午，学校召开老干部情况通报会暨党外代表人士座谈会...</p>
                                    </div>
                                </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="box2 wrap">
                        <ul>
                            <li><a href="93.html">
                                <p class="p1">学校召开教职工挂职锻炼座谈会<span>2020-12-31</span></p>
                                <p class="p2">1月5日上午，学校召开2020年度教职工挂职锻炼工作座谈会。挂职锻炼教职工派出单位主要领导，14名挂职锻炼教职工、人事处负责同志参加了会议。学校党委委员、组织部长李学平出席会议并讲话。</p>
                            </a></li><li><a href="92.html">
                            <p class="p1">我校再次荣获“湖北省文明单位（校园）”称号<span>2020-12-18</span></p>
                            <p class="p2">近日，中共湖北省委、湖北省人民政府印发《关于命名表彰2017-2019年度湖北省文明城市、文明村镇、文明单位、文明家庭、文明单位（校园）的决定》（鄂文〔2020〕98号）文件，湖北三峡职业技术...</p>
                        </a></li><li><a href="91.html">
                            <p class="p1">科教宜昌报道三峡职院康养与护理学院成立<span>2020-12-01</span></p>
                            <p class="p2">三峡职院康养与护理学院挂牌成立--三峡广电网</p>
                        </a></li><li><a href="90.html">
                            <p class="p1">我校8课题荣获宜昌市科协2020年度专题建言献策项目奖补<span>2020-12-01</span></p>
                            <p class="p2">近日，宜昌市科协下发《关于2020年度“专题建言献策”课题项目奖补的通知》（宜市科协字〔2020〕18号）文件，对2020年度专题建言献策优秀项目进行奖补，我校《宜昌茶行业非物质文化遗产现状与...</p>
                        </a></li><li><a href="89.html">
                            <p class="p1">我校33篇论文获得宜昌市第十四届自然科学优秀学术论文奖<span>2020-11-06</span></p>
                            <p class="p2">日前，宜昌市科学技术协会、宜昌市人力资源和社会保障局、宜昌市科学技术局联合下发《关于宜昌市第十四届自然科学优秀学术论文评选结果的通报》（宜市科协字〔2020〕20号）文件。我校8篇论文...</p>
                        </a></li><li><a href="88.html">
                            <p class="p1">湖北日报、三峡新闻网、三峡晚报、三峡手机台报道我校康养与护理学院揭牌<span>2020-11-06</span></p>
                            <p class="p2">湖北三峡职业技术学院原有医学、经济管理、农学、旅游与教育、机电工程、电子信息、建筑工程等7个二级学院，招生专业42个，在校学生近16000人。医学院自2010年合并建院以来持续健康发展，教学水...</p>
                        </a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <!--Why Choose One End-->

    <!--Latest Properties Start-->
    <!--Latest Properties End-->

    <!--Providing One Start-->

    <!--Providing One End-->

    <!--Brand One Start-->
    <div class="brand_one">
        <div class="container">
            <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_1.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_2.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_3.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_4.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <img src="assets/images/brand/brand_1_img_5.jpg" alt="">
                    </div><!-- /.swiper-slide -->
                </div>
            </div>
        </div>
    </div>
    <!--Brand One End-->

    <!--Site Footer One Start-->
    <footer class="site_footer" style="background-image: url(assets/images/resources/site_footer_top_bg.jpg)">
        <div class="container">
            <div class="site_footer_one_top">
                <div class="row">
                    <div class="ft-l float-left">
                        <div class="weixin float-left">
                            <img src="assets/images/resources/wx.jpg">
                            官方微信
                        </div>
                        <div class="qq float-left">
                            <img src="assets/images/resources/wb.jpg">
                            官方微博
                        </div>
                    </div>

                    <div class="ft-r float-right">
                        <dl class="contact">
                            <dd>地址：湖北省宜昌市体育场路31号</dd>
                            <dd>邮编：443000</dd>
                            <dd>电话：07178853366</dd>
                            <dd>鄂ICP备15008992号</dd>
                        </dl>
                        <dl class="contact footer_about">
                            <dd>Copyright ©2002-2020 All Rights Reserved 宜昌三峡职教集团 | 版权所有</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Site Footer One End-->

    <!--Site Footer Bottom Start-->
    <!--Site Footer Bottom End-->


</div><!-- /.page-wrapper -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
    <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
        <div class="logo-box">
            <a href="index.html" aria-label="logo image">
                <img src="assets/images/resources/logo-2.png" alt=""/>
            </a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container clearfix"></div>
        <!-- /.mobile-nav__container -->
        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-message"></i>
                <a href="mailto:needhelp@polimark.com">needhelp@tolins.com</a>
            </li>
            <li>
                <i class="icon-phone-call"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
</div>


<div class="search-popup">
    <div class="search-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="search-popup__inner">

    </div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/typed-2.0.11.js"></script>
<script src="assets/js/vegas.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/jarallax.js"></script>

<!-- template scripts -->
<script src="assets/js/theme.js"></script>

<script src="assets/js/public.js"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.SuperSlide.2.1.1.js"></script>

<script type="text/javascript">

    jQuery(".information-main-fl").slide({
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,
        trigger: "click",
        mouseOverStop: false
    });//轮播

</script>

</body>

</html>